.textButton{
    border-radius: 10%;
    margin: 0 5px;
    padding: 2px 10px;
    height: 40px;
    border: 1px solid lightblue;
    color: #080381;
    font-size: 16px;
    background-color: snow; 
}